.container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.profileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.inputContainer{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input{
    font-size: 14px !important;
}

.postBtn{
    color: indigo;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.postBtn:hover{
    background-color: #eef2ff;
}