.container{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 2px solid #d1d5db;
    border-radius: 5px;
}

.heading{
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
    color: #4f46e5;
    font-weight: bold;
}

.loginText{
    margin-top: 20px;
    text-align: center;
}

.loginBtn:hover{
    text-decoration: underline;
}

@media (max-width: 900px) {
    .container{
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
}
