::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

:root {
    --red-600: #dc2626;
    --gray-300: #d1d5db;
    --gray-200: #e5e7eb;
    --indigo-600: #4f46e5
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    list-style-type: none;
    color: black;
}

body {
    background-color: #e5e7eb;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn {
    padding: 8px 18px;
    border-radius: 5px;
    transition: all;
    transition-duration: 300ms;
    font-size: 16px;
    cursor: pointer;
}

.btnSm{
    font-size: 14px;
    background-color: #4f46e5;
    padding: 6px 12px;
    color: white;
    border-radius: 2px;
    display: inline-block;
}

.btnFull {
    width: 100%;
    padding: 8px 18px;
    border-radius: 5px;
    transition: all;
    font-size: 16px;
    transition-duration: 300ms;
    cursor: pointer;
}

.btnPrimary {
    background-color: #4f46e5;
    color: white;
}

.btnPrimary:hover {
    background-color: #3730a3;
}

.formGroup {
    margin-bottom: 30px;
}

.formLabel {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 8px;
}

.formInput {
    width: 100%;
    border: 2px solid var(--gray-300);
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

.formInputError {
    border: 2px solid var(--red-600);
}

.formErrorMsg {
    color: var(--red-600);
    margin-top: 4px;
    display: block;
}