.container{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 2px solid #d1d5db;
    border-radius: 5px;
}

.heading{
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
    color: #4f46e5;
    font-weight: bold;
}